@import './vars';
@import './utils';

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-family: 'Ubuntu';

  h1 {
    margin: 1rem 0;
  }

  .short-summary {
    margin-bottom: 1rem;
  }

  .call-to-action {
    width: 100%;
    display: flex;
    justify-content: space-around;

    i {
      margin-right: 0.5rem;
    }
  }
}
