@import './vars';
@import './utils';

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;

  h1 {
    margin-bottom: 0.5rem;
  }

  .role {
    color: $secondary;
    animation: slideInStopOut 4s ease-in-out infinite;
    margin-bottom: 1rem;
  }

  @keyframes slideInStopOut {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    25% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(0);
      opacity: 1;
    }
    75% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}
