@import './vars';
@import './utils';

#home-hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-family: 'Ubuntu';

  .hero-photo {
    height: 10rem;
    width: 10rem;
    border: 'none';
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  h1 {
    margin: 1rem 0;
  }

  .short-summary {
    margin-bottom: 1rem;
  }

  .call-to-action {
    width: 100%;
    display: flex;
    justify-content: space-around;

    a {
      font-size: 0.8rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
}

#home-about {
  min-height: 100vh;
  background-color: $dark;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .home-intro {
    display: flex;
    flex-direction: column;

    .intro-photo,
    .intro-text {
      flex: 1;
      margin: 1rem;
      line-height: 1.5;
      font-size: 1.1rem;
    }
    .intro-photo {
      img {
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
      }
    }
    .intro-text {
      display: flex;
      flex-direction: column;
      background-color: lighten($dark, 5%);
      padding: 2rem;
      font-size: 1.2rem;
      border-radius: 5px;

      a {
        display: block;
        text-align: center;
        margin: 1rem 0;
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

#home-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  height: 100vh;
  padding: 1rem;

  .container > p {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  ul {
    // Number of portfolio portfolio projects.
    --n: 2;
    --i: 1;
    width: 100%;
    width: calc(var(--n) * 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 2rem 0;
    transform: translate(calc(var(--i, 0) / var(--n) * -100%));

    li.portfolio-item {
      // min-width: 85%;
      width: calc(100% / var(--n));
      margin-right: 1rem;
      border-radius: 10px;

      a {
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        .portfolio-image {
          position: relative;
          img {
            display: block;
            border-radius: 10px;
            box-shadow: 2px 0px 5px $dark;
            position: relative;
            object-fit: cover;
            height: 300px;
            max-width: 100%;
            overflow: hidden;
          }

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background-color: transparentize($dark, 0.6);
          }
        }

        .portfolio-summary {
          position: absolute;
          bottom: 0.5rem;
          z-index: 3;
          padding: 0 2rem;
          color: #fff;
          line-height: 1.5;
        }
      }
    }
  }
}
