@mixin nav-toggle-slide {
  &.nav-toggle-slide {
    &-enter {
      transform: translateX(0);

      &-done {
        transform: translateX(70%);
        transition: transform ease-in-out 0.2s;
      }
    }

    &-exit {
      transform: translateX(70%);
      &-done {
        transform: translateX(0);
        transition: transform ease-in-out 0.2s;
      }
    }
  }
}
