@import 'vars';
@import 'utils';
@import 'mixins';

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
/* Base styles */
body {
  position: relative;
  margin: 0;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Navigation bar */
.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 99;
  color: $light;
  background-color: $dark;
  opacity: 0.95;

  .container {
    // Vertically center all content inside links
    a {
      display: flex;
      align-items: center;

      i {
        font-size: 1.5rem;
      }
    }
    header img,
    .nav-brand a img {
      height: 3rem;
      width: 3rem;
      border: none;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.75rem;
      // Slide CSSTransition
      @include slide-main;

      .nav-toggler {
        height: 3rem;
        width: 3rem;
        padding: 0.5rem;
        background-color: $primary;
        border: none;
        border-radius: 50%;
        color: #fff;
      }
    }

    .nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 70vw;
      display: flex;
      flex-direction: column;
      background-color: $dark;
      box-shadow: 2px 0px 5px $dark;

      .nav-links a,
      .nav-brand a {
        padding: 1rem 0 1rem 1.5rem;

        i {
          margin-right: 0.5rem;
        }

        &.active {
          background-color: darken($dark, 3%);
        }
      }

      .social {
        display: flex;
        justify-content: space-around;
        bottom: 0;
        right: 0;
        padding: 1rem 0;
      }
    }
  }
}

main#content {
  display: flex;
  flex-direction: column;
  // Slide CSSTransition
  @include slide-main;
}

.slide {
  &-enter {
    transform: translateX(-105%);
    &-done {
      transform: translateX(0);
      transition: transform ease-in-out 200ms;
    }
  }
  &-exit {
    transform: translateX(0);
    &-done {
      transform: translateX(-105%);
      transition: transform ease-in-out 200ms;
    }
  }
}

.scale {
  &-enter {
    transform: scale(0);
    &-done {
      transform: scale(1);
      transition: transform ease-in-out 200ms 200ms;
    }
  }
  &-exit {
    transform: scale(1);
    &-done {
      transform: scale(0);
      transition: transform ease-in-out 200ms 200ms;
    }
  }
}

@import './Home';
