@import 'vars';
@import 'utils';

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
/* Base styles */
body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;
  color: $light;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Navigation bar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  .container {
    // Vertically center all content inside links
    a {
      display: flex;
      align-items: center;

      i {
        font-size: 1.5rem;
      }
    }
    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1.25rem;
      transform: translateX(0);
      transition: transform ease-in-out 0.2s;

      &.hide {
        transform: translateX(70%);
      }

      .nav-toggler {
        height: 3rem;
        width: 3rem;
        padding: 0.5rem;
        border: rgba(255, 255, 255, 0.2) solid 1px;
        border-radius: 50%;
        color: #777;
      }
    }

    .nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 70vw;
      display: flex;
      flex-direction: column;
      background-color: $dark;
      box-shadow: 2px 0px 5px #222;
      transform: translateX(-100%);
      transition: transform ease-in-out 0.2s;

      .nav-brand a img {
        height: 3rem;
        width: 3rem;
        border: none;
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      .nav-links a,
      .nav-brand a {
        transform: translateX(-100%);
        transition: transform ease-in-out 0.2s 0.2s;
        padding: 1rem 0 1rem 1.5rem;

        i {
          margin-right: 0.5rem;
        }

        &.active {
          background-color: darken($dark, 3%);
        }
      }

      .social {
        display: flex;
        justify-content: space-around;
        bottom: 0;
        right: 0;
        padding: 1rem 0;
        transform: scale(0);
        transition: transform ease-in-out 0.3s 0.5s;
      }

      &.show {
        transform: translateX(0);

        .nav-links a,
        .nav-brand a {
          transform: translateX(0);
        }
        .social {
          transform: scale(1);
        }
      }
    }
  }
}

main#content {
  display: flex;
  justify-content: center;
  transform: translateX(0);
  transition: transform ease-in-out 0.2s;
  opacity: 1;
  &.hide {
    transform: translateX(70%);
    opacity: 0.8;
  }
}

@import './Home';
